@import '../../../consts.scss';

.ui-menu-title {
    @include menu-base-style;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid $base-white;
    background-color: $base-black;
}
