html {
    // make root font size 100%
    font-size: 100%;
}

// reset defaults
body, div {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#root {
    width: 100%;
    height: 100%;
}

@import 'ui/components/menu/main.scss';
@import 'ui/components/menu-item/main.scss';
@import 'ui/components/menu-title/main.scss';
@import 'ui/components/color-indicator/main.scss';
@import 'ui/components/color-picker/main.scss';
@import 'ui/components/status-line-button/main.scss';
@import 'ui/components/menu-select/main.scss';
@import 'ui/board/main.scss';
@import 'ui/status-line/main.scss';
@import 'ui/predefined-level-selection-menu/main.scss';
